<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="断固コーギー" />
  <meta property="og:description" content="<%= OGP_DESCRIPTION %>" />
  <meta name="keywords" content="twitter,アプリ,抗議,コーギー" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= OGP_URL %>" />
  <meta property="og:image" content="<%= OGP_IMAGE_URL %>" />
  <meta property="fb:app_id" content="<%= COGI_FACEBOOK_APP_ID %>" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="<%= COGI_TWITTER_ID %>" />
  <meta name="twitter:image" content="<%= OGP_IMAGE_URL %>" />
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/assets/reset.css">
  <link rel="stylesheet" href="/assets/style.css">
  <title>断固コーギー</title>
</head>

<body>
  <main class="wrap">
    <h1 class="title"><a class="link" href="/">断固コーギー</a></h1>
    <h2><img class="cogi" src="<%= COGI_IMAGE_PATH %>" alt="コーギーの抗議"></h2>

    <% if (content) { %>
      <p class="content">
        <%= content %>
      </p>
      <p class="foot-anchor-wrap">
        <a class="foot-link" href="/">ホーム</a>
      </p>
      <% } else { %>
        <p class="content">
          <input id="input-content" class="input-content" placeholder="(抗議の声を入力してね)" value="<%= content %>" />
        </p>
        <p class="foot-anchor-wrap">
          <a id="tweet" class="foot-link" href="/" target="_blank">ツイートする！</a>
        </p>
        <ul class="conducts">
          <li class="conduct-item">『断固コーギー』は特定の思想・信条を助長するものではありません</li>
          <li class="conduct-item">特定の個人に対する攻撃などには使わないでね</li>
          <li class="conduct-item">仲良く使ってね</li>
          <li class="conduct-item">バグを見つけたので<a href="<%= BUG_REPORT_URL %>" class="foot-link" target="_blank">抗議する</a></li>
        </ul>
        <% } %>
  </main>

  <% if (!content) { %>
    <script async src="/assets/script.js"></script>
    <% } %>
</body>

</html>